$icon-fize:50px;
$dark-overlay:rgba(0,0,0,0.7);
.navbar{

  background:#000;
  nav-item{
    padding-left:1em;
    .nav-link{
      text-transform: uppercase;
    }
  }
}
.carousel-item{
  height: 450px;
}
.carousel-img-1{
  background: url("../img/image1.jpeg");
  background-size: cover;
}
.carousel-img-2{
  background: url("../img/image2.jpeg");
  background-size: cover;
}
.carousel-img-3{
  background: url("../img/image3.jpeg");
  background-size: cover;
}
#homeicon{
  .fa{
    $icon-fize:50px;
  }
}
#getstarted{
  position: relative;
  background: url("../img/bg1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 250px;
  .dark-overlay{
    background:$dark-overlay;
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height: 100%;
  }


}
#getstarted{
  min-height: 300px;
}
#home-vedio{
  position: relative;
  background: url("../img/bg1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 250px;
  .dark-overlay{
    background:$dark-overlay;
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height: 100%;
    .fa{
      font-size:$icon-fize ;
      color:#ff0000;
    }
  }

}
#gallery{
  img{
    min-height: 250px;
  }
}
#about-info{
  img{
    height: 350px;
    width: 350px;

  }
}
#icon-boxes{
  .fa{
    font-size:$icon-fize ;
    margin-bottom: 20px;
  }
}
#copyright{
  background:#000;
}
#page-header{
  background: url("../img/image1 (1).jpeg");
  background-size: cover;
  height:200px ;
  background-attachment: fixed;
}


@media(max-width: 767px) {
  nav-item {
    padding-left: 0 !important;

  }
}
@media(max-width: 480px) {
  .carousel{
    h2{
      font-size: 2.5rem;
    }
  }
  #getstarted{
    min-height: 35px;
  }

}
